# Ignoreing ipynb checkpoit directoris
.ipynb_checkpoints/
*/.ipynb_checkpoints/
**/.ipynb_checkpoints/
**/__pycache__/
/build/
**/*.egg*
src/tmp/bayesopt/*
src/tmp/ray_results/*
src/tmp/planning/*
!**/*/.gitkeep

**/*.DS_Store