# Ignoreing ipynb checkpoit directoris
.ipynb_checkpoints/
*/.ipynb_checkpoints/
**/.ipynb_checkpoints/
**/__pycache__/
/build/
**/*.egg*
scripts/tmp/
**/*.DS_Store
.*
!**/*/.gitkeep
!**/*/.gitignore
**/debug*
test*.py
**/*.png
**/tmp
/jobs/*
*.txt
**/*.log
**/*.csv